@font-face {
    font-family: 'fontello';
    font-style: normal;
    font-weight: 400;
    src: url('../font/fontello.woff') format('woff');
}
a,div,header,i,span{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
header{display:block;}
div:focus,span:focus{outline:0;}
::-moz-selection{background:#d5eff9;}
::selection{background:#d5eff9;}
::-moz-selection{background:#d5eff9;}
.fo-icon:before{font-family:fontello;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fo-icon-Explore:before{content:"";}
.fo-icon-Alerts:before{content:"";}
.fo-icon-HidePane:before{content:"";}
.fo-icon-Support:before{content:"";}
.fo-icon-Profile:before{content:"";}
a{text-decoration:none;color:#049dda;cursor:pointer;}
a:hover{color:#0176a4;}
a:focus{outline:0;}
.app-header{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:Lato,sans-serif;}
.app-header *{-webkit-box-sizing:border-box;box-sizing:border-box;}
.app-header__top-bar{background-color:#373739;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:60px;padding:0 30px;}
@media (max-width:1024px){
.app-header__top-bar{padding:0 30px 0 0;}
}
.app-header__remainder{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;}
.app-header__logo{font-size:26px;font-size:1.625rem;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-color:#414143;color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-weight:200;height:60px;margin-right:16px;overflow:hidden;padding:0 12px;white-space:nowrap;}
@media (max-width:1024px){
.app-header__logo{font-size:20px;font-size:1.25rem;}
}
.app-header__trademark{font-size:40%;vertical-align:super;}
.app-header__button{color:#FFFFFF;font-size:17px;font-size:1.0625rem;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;border-top-left-radius:2px;border-top-right-radius:2px;cursor:pointer;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-webkit-flex:none;-ms-flex:none;flex:none;padding:0 15px;position:relative;height:60px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.app-header__button:hover{color:#FFFFFF;}
@media (max-width:1024px){
.app-header__button{font-size:14px;font-size:.875rem;padding:0 10px;}
}
.app-header__button:hover{background-color:#4b4b4d;}
.app-header__button--nav{min-width:125px;}
@media (max-width:1024px){
.app-header__button--nav{min-width:90px;}
}
.app-header .fo-icon-Alerts:before,.app-header .fo-icon-Explore:before,.app-header .fo-icon-Profile:before{font-size:26px;font-size:1.625rem;margin:0;}
.app-header .fo-icon-HidePane:before{font-size:14px;font-size:.875rem;margin-left:8px;margin-right:0;}
.app-header__whatsnew-notification{position:relative;}
.app-header__whatsnew-notification--with-count{padding-right:5px;}
.app-header__whatsnew-notification--with-count:after{content:attr(data-enhancement-count);font-size:10px;font-size:.625rem;background-color:#e8171f;border-radius:10px;color:#fff;line-height:11px;padding:2px;position:absolute;text-align:center;top:-2px;left:16px;width:12px;}
.app-header__whatsnew-label{margin-left:8px;}
@media (max-width:1440px){
.app-header__whatsnew-label{display:none;}
}
.app-header__user-menu{min-width:1px;}
.app-header__users-name{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;}
.app-header .fo-icon-Profile{display:none;}
@media (max-width:1440px){
.app-header__last-name{display:none;}
}
@media (max-width:1325px){
.app-header__users-name{display:none;}
.app-header .fo-icon-Profile{display:inline-block;}
}
.app-header__bottom-bar{height:45px;border-bottom:2px solid #d2d4d5;background:#F4F4F5;padding-left:234px;padding-right:35px;}
.app-header__bottom-bar--customer-support{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.app-header__bottom-bar--customer-support .app-header__customer-support-info{cursor:pointer;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-left:auto;max-width:233px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:14px;white-space:nowrap;color:#07c;}
.app-header__bottom-bar--customer-support .app-header__customer-support-info i{font-size:25px;font-size:1.5625rem;}
.drop-down{position:relative;display:inline-block;}
span::-moz-focus-inner{border:0;}
div,h3,i,span{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
div:focus,span:focus{outline:0;}
h3{font-size:20px;}
h3{font-weight:400;}
textarea{font-size:14px;font-size:.875rem;font-family:Lato,sans-serif;color:#373739;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:2px;border:1px solid #bcbec0;background-color:#fff;cursor:pointer;outline:0;}
textarea::-webkit-input-placeholder{color:#939598!important;font-style:italic;opacity:1!important;}
textarea:-ms-input-placeholder{color:#939598!important;font-style:italic;opacity:1!important;}
textarea::placeholder{color:#939598!important;font-style:italic;opacity:1!important;}
textarea:focus::-webkit-input-placeholder{color:transparent!important;}
textarea:focus:-ms-input-placeholder{color:transparent!important;}
textarea:focus::placeholder{color:transparent!important;}
textarea:not(.search-input-box__input):not(.select2-container):not(.select2-selection){line-height:1.5em;padding:4px 7px 5px;min-height:calc(1.5em + 11px);}
textarea:active,textarea:focus{border:1px solid #0067b1;}
textarea:hover{border:1px solid #0067b1;}
textarea::-ms-clear{display:none;}
textarea:active,textarea:focus{cursor:text;}
textarea:disabled{border-color:#bcbec0!important;color:#bcbec0!important;cursor:default!important;}
textarea:disabled::-webkit-input-placeholder{color:#bcbec0!important;font-style:italic;opacity:1!important;}
textarea:disabled:-ms-input-placeholder{color:#bcbec0!important;font-style:italic;opacity:1!important;}
textarea:disabled::placeholder{color:#bcbec0!important;font-style:italic;opacity:1!important;}
textarea:disabled:focus::-webkit-input-placeholder{color:transparent!important;}
textarea:disabled:focus:-ms-input-placeholder{color:transparent!important;}
textarea:disabled:focus::placeholder{color:transparent!important;}
::-moz-selection{background:#d5eff9;}
::selection{background:#d5eff9;}
::-moz-selection{background:#d5eff9;}
.fo-icon:before{font-family:fontello;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fo-icon-Search:before{content:"";}
.fo-icon-CloseRemove:before{content:"";}
.rich-search-box__validator-status:before{content:"";}
.fo-icon-HidePane:before{content:"";}
.search-area__element-arrow:before,.search-area__filters-trigger-arrow:before{content:"";}
#main_area_search .search-box-v2-container{margin-right:0;}
.drop-down{position:relative;display:inline-block;}
.ln-tag{padding:4px 6px 4px 6px;margin-right:5px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;border-radius:2px;background-color:#d5eff9;-webkit-box-sizing:border-box;box-sizing:border-box;color:#373739;line-height:1em;-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;align-items:baseline;max-width:100%;}
.ln-tag--removable{padding:4px 4px 4px 6px;}
.ln-tag__remove{margin-left:4px;cursor:pointer;color:#049dda;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start;}
.ln-tag__remove:hover{color:#be151d;}
.ln-tag__remove:before{font-size:.75em;line-height:inherit;}
.rich-search-box{position:relative;cursor:text;overflow-y:auto;overflow-x:hidden;}
.rich-search-box .rich-search-box__validator-status:before{font-weight:900;}
.rich-search-box__content-wrapper{left:0;line-height:30px;max-width:100%;min-height:100%;position:absolute;right:0;top:0;height:100%;}
.rich-search-box__validator--enabled{padding-left:30px;}
.rich-search-box__validator-status{position:absolute;left:9px;top:7px;color:#78b801;cursor:default;}
.rich-search-box__content{-webkit-box-sizing:border-box;box-sizing:border-box;min-height:100%;position:relative;width:100%;}
.rich-search-box__hidden-content{color:transparent!important;position:absolute;}
.rich-search-box__hidden-content *{color:transparent!important;}
.rich-search-box__placeholder{color:#939598;font-style:italic;}
.search-summary{font-family:Lato,sans-serif;border:1px solid #bcbec0;}
.search-summary__header{font-size:13px;}
.search-summary__header--open{border-bottom:1px solid #bcbec0;}
.search-summary__arrow_icon{width:10px;line-height:25px;cursor:pointer;padding-left:10px;}
.search-summary__title{padding:6px 0 5px 4px;display:inline-block;cursor:pointer;}
.search-summary__totals{float:right;margin-top:3px;}
.search-summary__total{padding:3px 6px 2px;display:inline-block;border-radius:2px;margin-right:5px;}
.search-summary__total--positive{background-color:#d5eff9;color:#049dda;}
.search-summary__entries{padding:7px 1px 0 7px;}
.search-summary__entry{margin-bottom:9px;margin-top:3px;}
.search-summary__type{font-size:1em;margin-bottom:2px;letter-spacing:.4px;}
.search-summary .ln-tag{margin:2px 6px 4px 0;}
.search-summary--inline{border:1px solid #e9e9ea;margin-bottom:30px;}
.search-summary--inline .search-summary__header{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.search-summary--inline .search-summary__header--open{border-bottom-color:#e9e9ea;}
.search-summary--inline .search-summary__title{font-size:20px;font-size:1.25rem;padding:10px 0 11px 17px;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1;}
.search-summary--inline .search-summary__arrow_icon{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2;margin-top:3px;}
.search-summary--inline .search-summary__totals{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3;float:none;margin:0 17px 0 auto;font-size:15px;}
.search-summary--inline .search-summary__total{margin-right:0;margin-left:10px;}
.search-summary--inline .search-summary__entries{max-height:86px;overflow:auto;padding:0;margin:17px;font-size:15px;}
.search-summary--inline .search-summary__type{letter-spacing:normal;margin-right:11px;}
.search-summary--inline .search-summary__entry{margin-right:15px;}
.search-summary--inline .search-summary__entry,.search-summary--inline .search-summary__type,.search-summary--inline .search-summary__values{display:inline;}
.search-area{font-family:Lato,sans-serif;letter-spacing:-.2px;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;}
.search-area__summary-container--invisible{visibility:hidden;}
.search-area .search-summary{-webkit-box-shadow:-3px 0 7px 0 rgba(0,0,0,.05);box-shadow:-3px 0 7px 0 rgba(0,0,0,.05);}
.search-area__title-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;align-items:baseline;}
.search-area__title{display:inline-block;font-size:21px;font-size:1.3125rem;}
.search-area__box{margin-top:13px;border:1px solid #e9e9ea;border-left:none;-webkit-box-shadow:-3px 0 7px 0 rgba(0,0,0,.05);box-shadow:-3px 0 7px 0 rgba(0,0,0,.05);-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;width:100%;font-size:16px;font-size:1rem;background-color:#fff;}
.search-area__search{position:relative;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.search-area__search-label{position:absolute;left:15px;top:15px;line-height:1;z-index:2;}
.search-area__search-input{position:relative;width:100%;}
.search-area__element{display:inline-block;white-space:nowrap;border-right:1px solid #e9e9ea;vertical-align:top;line-height:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;box-sizing:border-box;}
.search-area__dropdown--trigger{-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer;padding:15px;}
.search-area__element-label{color:#939598;}
.search-area__element-input{margin-top:10px;position:relative;padding-right:24px;line-height:18px;}
.search-area__element-value{max-width:130px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;}
@media (min-width:1441px){
.search-area__element-value{max-width:150px;}
.search-filter-date__trigger .search-area__element-value{max-width:210px;}
}
.search-area__element-arrow{position:absolute;top:0;right:0;margin-top:1px;font-family:fontello;font-style:normal;font-weight:400;display:inline-block;line-height:1;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
.search-area__search-trigger{line-height:76px;font-size:29px;font-size:1.8125rem;border-right:none;color:#e8171f;cursor:pointer;padding:0 27px;}
@media (max-width:1440px){
.search-area__search-trigger{padding-left:23px;padding-right:23px;}
}
.search-area__filters{margin-top:15px;padding-bottom:14px;text-align:right;}
.search-area__filters-trigger{color:#0067b1;font-size:15px;font-size:.9375rem;cursor:pointer;display:inline-block;}
.search-area__filters-trigger-arrow{color:#373739;font-family:fontello;font-style:normal;font-weight:400;display:inline-block;line-height:1;padding-left:12px;text-align:left;width:14px;}
.search-area__filters-trigger-arrow:before{display:inline-block;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
.search-area .rich-search-box{overflow:visible;position:absolute;left:0;right:0;font-family:Arial,sans-serif;border:1px solid #e9e9ea;border-top:none;z-index:10;}
.search-area .rich-search-box__content-wrapper{background-color:#fff;z-index:1;padding:0 4px 9px 37px;margin-top:35px;height:auto;line-height:32px;position:relative;}
.search-area .rich-search-box__content,.search-area .rich-search-box__hidden-content{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;top:0;min-height:32px;}
.search-area .rich-search-box__hidden-content{left:37px;right:4px;min-height:0;height:30px;white-space:normal;}
.search-area .rich-search-box__validator-status{left:13px;top:0;}
.search-filter-media-type__trigger{min-width:166px;}
.search-filter-location__trigger{min-width:150px;}
.search-filter-language__trigger{min-width:151px;}
span::-moz-focus-inner{border:0;}